@import "main.css";

*{
    color:red;
}

p{
    color:yellow
}

h2{
    color:green
}

.heading1{
    text-decoration: underline;
}

.heading2{
    text-transform: uppercase;
}

p.fz20{
    font-size: 20px;
}

#heading{
    font-size: 40px;
    border:1px solid black
}

q{
    color:blue;
}

q.simple{
    color:aqua;
}

body q.simple{
    color:fuchsia;
}