.wrapper,
.wrapper2,
.item{
    padding: 20px;
    color: green;
}

img{
    float: right;
}

.wrapper{
    color:gray;
}

.item{
    float:left;
    width: 159px;
}
.item1{
    background-color: crimson;
    float: left;
}

.item2{
    background-color: blue;
    float: right;

}

.item3{
    background-color: red;
}